<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HerokuApp UI Tests" parallel="false">
    <test name="The Internet">
        <classes>
            <class name="ru.herokuapp.tests.AddRemoveElementsTest"/>
            <class name="ru.herokuapp.tests.CheckboxesTest"/>
            <class name="ru.herokuapp.tests.DropdownTest"/>
            <class name="ru.herokuapp.tests.InputsTest"/>
            <class name="ru.herokuapp.tests.TyposTest"/>
            <class name="ru.herokuapp.tests.SortableDataTablesTest"/>
            <class name="ru.herokuapp.tests.HoversTest"/>
            <class name="ru.herokuapp.tests.NotificationMessagesTest"/>
        </classes>
    </test>
</suite>
